.local*
# Cargo.lock
target
.vscode/settings.json
.cargo/config.toml
yarn-error.log

# Python
__pycache__/
*venv/
dist/
wheels/
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
